.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.photo-card{
    width: 30%;
    margin-bottom: 40px;
    
    img{
        margin-bottom: 10px;
    }
}

.stats{
    display: flex;
    justify-content: space-around;
    text-align: center;

    i {
        display: block;
    }
}

